//Variables
$color-principal: #E8C57E;

//MAPS
$boton-primario: (
    bg-primario: #E8C57E,
    texto-primario: #ffffff,
    width-primario: 150px,
    border-primario: 2px solid #E8C57E
);

//Listas
$colores: 
#E8C57E,
#ffffff,
red;